body{
    background: rgb(247,248,252);
}

#main{
    margin-top: 50px;
    height: 100%;
    margin-left: 300px;
}
.btn-danger{
    border: none;
    width: 40px;
    height: 40px;   
}

#class{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    height: 440px;
    margin-right: 10px;
    width: 90%;
    background: white;
    padding: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 8px;
}


.btn-course{
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    margin-right: 8px;
    color: rgb(145, 142, 138);
    padding: 10px;
    padding-left:15px ;
    padding-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-focus{
    cursor: pointer;
    border-radius: 5px;
    border:0px;
    padding: 10px;
    margin-right: 8px;
    background: #9072ff;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.btn-hd{
    border-radius: 800px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 10px;
    background-color: green;
    border: 0px;
  
}
.tb{
    border-radius: 5px;
    border:0px;
    padding: 10px;
    margin-right: 2px;
    background: #ff3c3c;
    color: white;
    
}

.btn-course:hover{
    background: #9072ff;
    color: white;
}

.img_moment{
    width:65%;
    margin: auto;
   
}
.moment{
    font-weight: bold;
    color: rgb(145, 142, 138);
    margin-left: 50px;
}
.boder{
    height: 40px;
    border-radius: 0 0 40px 0;
    background-color: white;
    width: 100%;
}

.staff_label{
    font-weight: bold;
    color: rgb(152, 150, 147);
}
.fi-branch{
    margin: auto;
    font-size: 20px;
    color: white;
}



.save{
    cursor: pointer;
    border-radius: 5px;
    border:0px;
    margin-right: 8px;
    float: right; background-color:rgb(247,248,252); border:none; padding:10px
}
.save:hover{
    cursor: pointer;
    padding-bottom: 5px ;
    padding-top: 5px ;
    background: #9072ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
/* tr:hover{
    background: #ddd8ef;
} */
a:hover{
    cursor: pointer;
    text-decoration:none;
   
}
button:focus{
    outline:none !important;
}
.btn-class{
  margin-top: 15px;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;

}
.btn-a{
    border-radius: 800px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #807676;
    padding: 10px;
    padding-left:5px ;
    padding-right: 5px;
    background-color: rgb(240,240,240);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: 0px;
    
    
}
.btn-a:hover{
    background: #5E5DF0;
    
}
.a:hover{
    color: white;
}
.a{
    color: #807676;
}

.btn-div{
    padding: 10px;
    padding-left:5px ;
    padding-right: 5px;
    color: black;
}
#found{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    float: right;
    
}
.btn-get{
    border-radius: 800px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    color: white;
    padding-left:15px ;
    padding-right: 15px;
    background: rgb(247,248,252);
    border: 0px;
    /* margin-left: 10px; */
}
.btn-div:hover{
    border-radius: 800px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    color: white;
    padding: 10px;
    padding-left:5px ;
    padding-right: 5px;
    background: #9072ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: 0px;
    
}
/*Search*/
#search{
    margin-top:15px;
    margin-bottom:15px;
    float: right;
    width:300px;
}

/*Table*/
.col1{
    margin-top:10px ;
    margin-right: 5px;
    padding: 10px;
    padding-top: 15px;
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
a{
    text-decoration: none;
}
.table {
    border-radius: 5px;
    font-size: 14px;  
    border: none;
    width: 100%;
    background-color: white;
}

.table td, .table th {
    padding: 12px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.table thead th {
    color: #ffffff;
    background: #212529;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #212529;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}
/*zoom*/
.zoom:hover{
    transform: scale(1.05);
}

/* Responsive */

@media (max-width: 500px) {
    .table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .table thead, .table tbody, .table thead th {
        display: block;
    }
    .table thead th:last-child{
        border-bottom: none;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table td, .table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table tbody tr {
        display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
        background: none;
    }
    .table tr:nth-child(even) {
        background: transparent;
    }
    .table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table tbody td {
        display: block;
        text-align: center;
    }
}
/*Card-icon*/
.card-icon{
   margin-left:10px;font-size:40px;color:rgb(115, 137, 216);
}
/*Circle*/

.col-sm{
    height:120px;background: white;
    border-radius:0px; width:100%; 
    padding-top:25px;padding-bottom:25px;
    padding-left: 0px;
}
.col-lg{
    font-weight:bold; 
    border-radius:0px; 
    width:100%;
    height: 120px;
    
}
.main-body{
    width:100%;
    height:50px; 
    margin:auto; 
    margin-top:60px;
    margin-bottom:10px; 
    margin-left:0px;
    padding-left:0px;
}

.fi{
    color: rgb(115, 137, 216);
}

.fi:hover{
    color: rgb(115, 137, 216);
}
.fa{
    font-size: 20px;
}
.btn-list{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 15px;
    border:0px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.fi-branch{
    margin: auto;
    font-size: 20px;
    color: white;
}
#edit{
    color: rgb(145, 142, 138);
    float: right; 
    margin-right:10px;
}
#edit:hover{
    color: rgb(115, 137, 216);
}

.form-control{
    font-size: 15px;
    height: 40px;
}
h5{
    color: #161414; font-size:25px;font-weight:bold;
    text-transform: uppercase;
}
.h5{
    color: #161414; font-size:25px;font-weight:bold;
    text-transform: uppercase;
  
}
.link_a{
    color: rgb(115, 137, 216);text-decoration: underline;font-size:15px;
}
label{
    font-size: 15px;
    font-weight: bold;
    color: #161414;
}
.stt{
    color: #9072ff;
    font-weight: bold;

}
td{
    color:#526484;
    font-size: 15px;
}
h6{
    color: #161414; font-size:20px;font-weight:bold;
    text-transform: uppercase;
}
.single-line {
    display: block;
    text-align: center;
  	display: -webkit-box;
  	height: 16px*1.3*3;
  	font-size: 12px;
  	line-height: 1.3;
  	-webkit-line-clamp: 1;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-top:10px;
    color: green;font-size:12px;font-weight:bold
    /* background-color: #a6a9ab; */
}

.delete{
    background-color: #b63535;
}



.card {
	background-color: #FFF;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 5px;
	overflow: hidden;
	padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 10px;
	position: relative;
	transition: .15s ease-in;
	&:hover, &:focus-within {
		box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
			transform: translatey(-5px);
	}
}
.card-header {
    padding: 10px 0px 10px 0px;
}
.card-footer{
    padding: 10px 0px 10px 0px;
   
}
a{
    font-size: 15px;
}

